<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav"
        [attr.role]="isHandset() ? 'dialog' : 'navigation'"
        [mode]="isHandset() ? 'over' : 'side'"
        [opened]="isLoggedIn() && !isHandset()">
        <mat-toolbar class="primary">
            <a class="sail-navigation-home"
                routerLink="/"
                [attr.aria-label]="guiConfig.appTitle ? guiConfig.appTitle + ' home' : 'Home'">
                @if (guiConfig.appLogoUrl) {
                    <img class="sail-navigation-logo"
                        [src]="guiConfig.appLogoUrl"
                        width="40"
                        height="40"
                        alt="">
                } @else if (guiConfig.appTitle) {
                    <span class="sail-navigation-home-title">{{ guiConfig.appTitle }}</span>
                } @else {
                    <mat-icon aria-hidden="true">home</mat-icon>
                }
            </a>
        </mat-toolbar>
        @if (isLoggedIn()) {
            <mat-accordion>
                @for (menu of menuItems(); track menu.Id) {
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>@if (menu.Icon) {<mat-icon>{{menu.Icon}}</mat-icon>}{{menu.Caption}}</mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-nav-list>
                            @for (item of menu.ApplicationMenuItems; track item.ItemId) {
                                <a mat-list-item [routerLink]="getRouterLink(item)">
                                    @if (item.Icon) {<mat-icon>{{item.Icon}}</mat-icon>}
                                    <span>{{item.Caption}}</span>
                                </a>
                            }
                        </mat-nav-list>
                    </mat-expansion-panel>
                }
            </mat-accordion>
        }
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="primary">
            @if (isHandset()) {
                <button type="button" aria-label="Toggle sidenav" matIconButton (click)="sidenav.toggle()">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
            }
            <ng-content select="[toolbar-title]"></ng-content>
            <span class="toolbar-spacer"></span>
            <ng-content select="[toolbar-actions]"></ng-content>
            @if (isLoggedIn()) {
                @if (accountLink) {
                    <a matButton [routerLink]="accountLink.routerLink">{{ accountLink.label }}</a>
                }
                <button matButton (click)="logout()">Logout</button>
            } @else if (guiConfig.publicRouteLinks) {
                @for (link of guiConfig.publicRouteLinks; track link.routerLink) {
                    <a matButton [routerLink]="link.routerLink">{{ link.label }}</a>
                }
            }
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
