@if (earnings(); as value) {
  <div class="agency-earnings-summary__metric">
    <span class="agency-earnings-summary__label">Active clients</span>
    <span class="agency-earnings-summary__value">{{ activeClients() }}</span>
  </div>
  <div class="agency-earnings-summary__metric">
    <span class="agency-earnings-summary__label">Paying clients</span>
    <span class="agency-earnings-summary__value">{{ value.payingClients }}</span>
  </div>
  @for (balance of value.balances; track balance.currency) {
    <div class="agency-earnings-summary__metric" [attr.data-currency]="balance.currency">
      <span class="agency-earnings-summary__label">Held ({{ balance.currency }})</span>
      <span class="agency-earnings-summary__value">{{ format(balance.heldMinor, balance.currency) }}</span>
    </div>
    <div class="agency-earnings-summary__metric" [attr.data-currency]="balance.currency">
      <span class="agency-earnings-summary__label">Due ({{ balance.currency }})</span>
      <span class="agency-earnings-summary__value">{{ format(balance.dueMinor, balance.currency) }}</span>
    </div>
    <div class="agency-earnings-summary__metric" [attr.data-currency]="balance.currency">
      <span class="agency-earnings-summary__label">Paid ({{ balance.currency }})</span>
      <span class="agency-earnings-summary__value">{{ format(balance.paidMinor, balance.currency) }}</span>
    </div>
  }
}
